@font-face {
    font-family: 'alegreya-regular';
    src: url('./assets/fonts/Alegreya-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body { 
    background-color: #B5D2CB!important;
}

.n-backg-color {
    background-color: #474350!important;
}

.b-backg-color {
    background-color: #5E6973!important;
}

.w-backg-color {
    background-color: #F8FFF4!important;
}

.l-color {
    color: #F8FFF4!important;
}

.g-color {
    color: #474350!important;
}

.logo {
    height: 4rem;
}

.vertically-al {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-font {
    font-family: alegreya-regular!important;
}

.big-title {
    font-size: 72px!important;
    font-weight: 700!important;
}

.landing-font {
    font-size: 20px!important;
}

.button-settings {
    background: rgb(124,255,196);
    background: linear-gradient(90deg, rgba(124,255,196,1) 0%, rgba(181,210,203,1) 42%);
    border-radius: 5px;
    cursor: pointer
}

.font-size-form {
    font-size: 22px;
}

.b-rad {
    border-radius: 10px;
}

.bottom-border-w {
    border-bottom: 1px solid #F8FFF4!important;
}

.border-down-b {
    border-bottom: 1px solid #5E6973;
}

.pointer {
    cursor: pointer;
}